html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    height: auto !important;
    max-width: 100%;
    font-family: 'Economica', sans-serif;
    letter-spacing: 0.1em;
}

.body-overlay {
    display: none;
    position: fixed;
    background: rgba(17, 17, 17, 0.6);
    width: 100%;
    height: 100%;
    z-index: 4;
}

#myVideo {
    position: fixed;
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
    opacity: 0.8;
    z-index: -999;
}

#menu-bar {
    position: absolute;
    font-size: 33px;
    z-index: 1;
    cursor: pointer;
}

#menu-hide {
    position: absolute;
    display: none;
    margin-left: 220px;
    font-size: 20px;
    cursor: pointer;
}

.nav-menu {
    display: none;
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: white;
    z-index: 4;
    cursor: default;
}

#nav-menu-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
}

#nav-menu-links a {
    cursor: default;
    text-decoration: none;
}

#nav-menu-links li {
    margin: 70px;
    margin-top:110px;
    width: 100px;
    font-size: 21px;
    color: black;
    cursor: pointer;
}

.nav-brand {
    position: absolute;
}

.brand-auto {
    margin-left: 700px;
    width: 50px;
}

.brand-left {
    margin-left: 130px;
    width: 50px;
}

.brand-menu {
    margin-left: 10px;
    width: 50px;
}

#navbar-D {
    width: 50px;
}

#navbar-R {
    position: absolute;
    width: 50px;
    margin-left: -30px;
}

.contact {
    position: absolute;
    right: 30px;
    margin-top: 5px;
    z-index: 3;
    display: flex;
    align-items: center;
}

#c-number {
    padding: 40px;
    font-size: 17px;
    letter-spacing: 0.1em;
    margin-top: 15px;
}

i {
    margin: 30px;
    font-size: 12px;
}

#facebook {
    color: blue;
    cursor: pointer;
}

#instagram {
    color: #833AB4;
    cursor: pointer;
}

#whatsapp {
    color: green;
    cursor: pointer;
}

#navbar {
    position: sticky;
    width: 100%;
    height: 80px;
    z-index: 3;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.6s;
}

.navbar-animate {
    animation: animate 1s;
}

@keyframes animate {
    from {
        height: 0px;
    }

    to {
        height: 80px;
    }
}

#nav-title {
    color: black;
    margin: auto;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    display: none;
}

.head {
    margin: auto;
    z-index: 3;
    text-align: center;
    padding: 50px;
    font-weight: 800;
}

#head-title {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.15em;
    margin-top: 30px;
}

#head-t {
    margin-top: 70px;
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 0.2em;
}

#head-p {
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 0.15em;
    text-align: center;
    width: 500px;
}

#order-now {
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    width: 500px;
}

#order-link {
    text-decoration: none;
    cursor: default;
}

#order-btn {
    border: 1px solid transparent;
    border-radius: 0;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.18em;
    background-color: #e12301;
    color: white;
    cursor: pointer;
    display: block;
    margin: auto;
    transition: all ease-in-out .2s;
}

#order-btn:hover {
    background-color: #b32006;
    border: 2px solid transparent;
}

#about-img {
    position: fixed;
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 300px;
    max-width: 100%;
    opacity: 0.9;
    z-index: -999;
}

.about-nav {
    background-color: white;
}

.about-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 1000px;
    margin-top: 310px;
    background-color: white;
}

#aboutus {
    position: static;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    text-align: center;
    z-index: 2;
}

#about-h {
    font-size: 40px;
}

#about-p {
    font-size: 23px;
    letter-spacing: 0.1em;
}

.carousel {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel-tag {
    width: 50%;
    position: absolute;
    font-size: 35px;
    letter-spacing: 0.06em;
    z-index: 1;
    color: white;
}

.carousel-item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#carousel-1 {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
}

#carousel-2 {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
}

#carousel-3 {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
}


.carousel-overlay {
    position: absolute;
    display: block;
    margin: auto;
    width: 87.5%;
    height: 500px;
    background: rgba(17, 17, 17, 0.6);
    z-index: 1;
}

.carousel-indicators li {
    margin: 20px;
    padding: 1px;
    width: 40px;
    z-index: 3;
    cursor: pointer;
    transition: all 0.6s ease;
}

.carousel-control-prev {
    background-color: #e12301;
    width: 30px;
    height: 35px;
    margin: auto;
    margin-left: 80px;
    transition: all ease-in-out.3s;
    z-index: 2;
    cursor: pointer;
}

.carousel-control-prev-icon {
    width: 25px;
    height: 30px;
}

.carousel-control-next {
    background-color: #e12301;
    width: 30px;
    height: 35px;
    margin: auto;
    margin-right: 80px;
    transition: all ease-in-out.3s;
    z-index: 2;
    cursor: pointer;
}

.carousel-control-next-icon {
    width: 25px;
    height: 30px;
}
